<div class="text-center">
    <h1 class="display-6">Ürün İşlemleri</h1>
    <hr />
    <button onclick="urunkarti();">Ürün Ekle</button>
    <button>Ürün Düzelt/Sil</button>
    <button>Zam Uygula</button>
    <button>Ürün Listesi</button>
    <button>Sorgulu Liste</button>
    <hr />
</div>