<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Veresiye Pro</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/veresiye.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: white;
            color: #3a3a3c;
        }

        .dark-mode {
            background-color: #3a3a3c;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Veresiye Pro @DateTime.Now.Year</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Musteri/MusteriIslemleri">Müşteri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Urun/UrunIslemleri">Ürün</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Hesap/HesapIslemleri">Hesap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Kasa/KasaiIslemleri">Kasa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Tedarikci/TedarikciIslemleri">Tedarikci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CekSenet/CekSenetIslemleri">Çek/Senet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Raporlar/RaporIslemleri">Raporlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ayarlar/FirmaIslemleri">Ayarlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Servis/ServisIslemleri">Servis</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <button class="btn btn-light btn-sm" id="darkmode" onclick="myFunction()">Dark</button>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Veresiye Pro ver 1 - <a asp-area="" asp-page="/Servis/Hakkimizda">Privacy</a>
        </div>
    </footer>

    <script>

        $(document).ready(function () {
            if (localStorage.getItem('mode')) {
                var element = document.body;
                var mode = element.classList.toggle("dark-mode");
                if (mode) {
                    $('#darkmode').text('Light');
                    localStorage.setItem('mode', true);
                }
                else if (!mode) {
                    $('#darkmode').text('Dark');
                    localStorage.removeItem('mode');
                }
            }
        });

        function myFunction() {

            var element = document.body
            var mode = element.classList.toggle("dark-mode");
            if (mode) {
                $('#darkmode').text('Light');
                localStorage.setItem('mode', true);
            }
            else if (!mode) {
                $('#darkmode').text('Dark');
                localStorage.removeItem('mode');
            }


        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>