@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-6">Hoşgeldiniz</h1>
    <hr />
    <b>Programı kullanmaya başlamak için aşağıdaki adımları takip edebilirsiniz.</b>
</div>
<div class="text">
    <ol>
        <li>
            Müşteri menüsünden, Müşteri Ekle linkine tıklayarak müşterinizin bilgilerini girin.
        </li>
        <li>
            Açık hesap için Vadeli Satış, Peşin işlemler için Peşin Satış linkine tıklayın.
        </li>
        <li>
            Açık hesap için Vadeli Satışı tıklayın listeden müşteri seçimi yapın.
        </li>
        <li>
            Müşteri Bul sayfasından işlem yapmak istediğiniz müşteriye tıklayın.
        </li>
        <li>
            Vadeli satış sayfasından seçmiş olduğunuz müşteriye işlem türüne göre Gorç veya Tahsilat Ekle linkini kullanın.
        </li>
        <li>
            Müşteri ekstresini yazdırmak için aynı sayfada yazdır linkine tıklayın.
        </li>
    </ol>
</div>
