<div class="text-center">
    <h1 class="display-6">Müşteri İşlemleri</h1>
    <hr />
    <button onclick="musterikarti();">Müşteri Ekle</button>
    <button onclick="musteribul();">Müşteri Düzelt/Sil</button>
    <button onclick="musterilistesi();">Müşteri Listesi</button>
    <hr />
</div>