<div class="w3-container">
    <div id="id02" class="w3-modal border border-primary">
        <div class="w3-modal-content" id="musteribul" style="border-radius: 50px;">
            <div class="text-end" style="font:xx-small;">
                <span onclick="document.getElementById('id02').style.display='none'" class="btn btn-danger btn-sm" style="border-radius: 50px;">X</span>
            </div>
            <form id="myform">
                <div class="w3-container">
                    <div class="text-center" style="margin-top:5px;">
                        <h6>Müşteri Bul</h6>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <input type="text" style="border-radius: 20px;margin:3px;" class="form-control form-control-sm" id="txtad" placeholder="Ad Göre Ara" autocomplete="off" required>
                        </div>
                        <div class="col-sm">
                            <input type="text" style="border-radius: 20px;margin:3px;" class="form-control form-control-sm" id="txtsoyad" placeholder="Soyadına Göre Ara" autocomplete="off" required>
                        </div>
                        <div class="col-sm">
                            <input type="text" style="border-radius: 20px;margin:3px;" class="form-control form-control-sm" id="txtunvan" placeholder="Ünvan/Lakabına Göre Ara" autocomplete="off">
                        </div>
                    </div>
                    <div class="text-center" style="font:xx-small;margin-top:20px;">
                        <button class="btn btn-outline-primary btn-sm">Ara</button>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="musteribultable" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Adı</th>
                                        <th scope="col">Soyadı</th>
                                        <th scope="col">Cep Telefonu</th>
                                        <th scope="col">Seç</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>fat</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                        <td><button class="btn btn-outline-primary btn-sm">Seç</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
